In [1]:
import numpy as np
import pandas as pd
Fake = pd.read_csv('Fake.csv')
Fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [2]:
Real = pd.read_csv('True.csv')
Real.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [3]:
Fake.shape, Real.shape

((23481, 4), (21417, 4))

In [4]:
print('Title :', Real['title'][100], '\n')
print('Article : \n', Real['text'][100])

Title : Senator Warren hits out at 'effort to politicize' U.S. consumer agency

Article :
 WASHINGTON (Reuters) - Democratic Senator Elizabeth Warren is taking aim at budget chief Mick Mulvaney’s plan to fill the ranks of the U.S. consumer financial watchdog with political allies, according to letters seen by Reuters, the latest salvo in a broader battle over who should run the bureau. President Donald Trump last month appointed Mulvaney as acting director of the Consumer Financial Protection Bureau (CFPB), though the decision is being legally challenged by the agency’s deputy director, Leandra English, who says she is the rightful interim head. Mulvaney told reporters earlier this month he planned to bring in several political appointees to help overhaul the agency, but Warren warned in a pair of letters sent Monday to Mulvaney and the Office of Personnel Management (OPM), which oversees federal hiring, that doing so was inappropriate and potentially illegal. The CFPB is meant to be an independent agency staffed primarily by non-political employees. Hiring political appointees could violate civil service laws designed to protect such employees from undue political pressure and discrimination, Warren said. “Your naked effort to politicize the consumer agency runs counter to the agency’s mission to be an independent voice for consumers with the power to stand up to Wall Street banks,” Warren, who helped create the CFPB, wrote to Mulvaney. In a separate letter, Warren asked the OPM to review Mulvaney’s “unprecedented and unjustified” plans. In a third letter sent to Mulvaney and English, Warren asked for information about a review of ongoing enforcement actions at the CFPB. Reuters reported earlier this month that a potential multimillion-dollar settlement with Wells Fargo is among the enforcement actions under review amid the change in CFPB leadership. Spokespeople for Mulvaney and the OPM did not immediately respond to requests for comment. Mulvaney, who also serves directly under Trump as the head of his Office of Management and Budget (OMB), said in the long term he would like to see professional staff alongisde political appointees, mirroring an arrangement in place at the OMB.  “We will be staffing up with more permanent political people so the professional staff here have a better feel for where the administration wants to take the bureau,” Mulvaney said.  But Warren said such an arrangement, though understandable for bureaus like the OMB which sit directly beneath the White House, was not suitable for independent financial regulators. The leadership of the CFPB has been in question since the agency’s first director, Richard Cordray, resigned in November.

In [5]:
Real['is_real'] = 1
Fake['is_real'] = 0

In [6]:
data = Real.append(Fake)
data.index = range(data.shape[0])
data.sample(10)

,title,text,subject,date,is_real
19516,Mexicans spooked by repeat rumble on anniversa...,MEXICO CITY (Reuters) - When a devastating ear...,worldnews,"September 21, 2017",1
26527,Gabby Giffords FLAYS Trump For Inciting ‘Bloo...,Having lived through an assassination attempt ...,News,"August 10, 2016",0
22038,McCain Opens Up A Can Of Whoop A** On Trump F...,Sen. John McCain is fed up with Donald Trump a...,News,"August 8, 2017",0
40609,WOW! Kellyanne Conway’s “MISTAKE” Forced Lefti...,President Donald Trump s Senior Counselor Kell...,left-news,"Feb 4, 2017",0
22745,More And More Local Governments Are Passing R...,Congress may not be quite ready to impeach Tru...,News,"May 30, 2017",0
19279,Tempers fray as search for survivors winds dow...,MEXICO CITY (Reuters) - Tempers frayed in Mexi...,worldnews,"September 21, 2017",1
20367,Guatemalan president survives congressional vo...,GUATEMALA CITY (Reuters) - Guatemala s Congres...,worldnews,"September 12, 2017",1
18058,Five suspected al Qaeda militants killed in Ye...,DUBAI (Reuters) - Five suspected al Qaeda mili...,worldnews,"October 8, 2017",1
22196,WATCH: Jake Tapper Rips Scaramucci A New One ...,Anthony Scaramucci got his ass handed to him o...,News,"July 23, 2017",0
41165,WATCH! FOX NEWS On High Anti-Trump Propaganda ...,Dennis Ross is a prior Obama and Clinton crony...,left-news,"Oct 23, 2016",0

In [7]:
data.isnull().sum()

title      0
text       0
subject    0
date       0
is_real    0
dtype: int64

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
stopwords = stopwords.words('english')

In [9]:
import nltk
nltk.download('stopwords')

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [9]:
countvec = CountVectorizer(strip_accents = 'ascii', stop_words = stopwords, ngram_range = (1, 2), max_features = 1000)
tfidf = TfidfVectorizer(strip_accents = 'ascii', stop_words = stopwords, ngram_range = (1,2), max_features = 1000)
text_column = 'title'

In [10]:
count_dat = countvec.fit_transform(data[text_column])
count_dat = pd.DataFrame(count_dat.toarray())
count_dat.sample(10)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
38919,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5937,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24250,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20338,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3462,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33762,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30171,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40259,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
43701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
tfidf_dat = tfidf.fit_transform(data[text_column])
tfidf_dat = pd.DataFrame(tfidf_dat.toarray())
tfidf_dat.sample(10)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
29965,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26434,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38382,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14503,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11620,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30036,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
y = data['is_real']

In [13]:
from sklearn.model_selection import train_test_split

X_train1, X_test1, y_train1, y_test1 = train_test_split(count_dat, y, test_size = 0.2, random_state = 1)
X_train2, X_test2, y_train2, y_test2 = train_test_split(tfidf_dat, y, test_size = 0.2, random_state = 1)

In [14]:
from sklearn import svm
from sklearn.metrics import accuracy_score
model = svm.SVC(kernel = 'linear', C = 1.0).fit(X_train1, y_train1)
predictions = model.predict(X_test1)
ac = accuracy_score(predictions, y_test1)
print(ac)

0.9276169265033407